body{
    height: 100%;
    overflow-x: hidden;
    font-size: 15px !important;
    background-image: url("../../prueba-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}




